<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>

  <body>

    <%- include('./includes/nav.ejs') %> 

    <div>
      <h1 class="text-center">About Us</h1>
      <p class="text-center mt-4"><%= description %> </p>
      <p class="text-center mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium,
        libero! Voluptates nulla aliquid incidunt voluptatem, eos, unde dolorem
        in, quo non accusantium placeat atque iste enim exercitationem
        recusandae rerum ab.
      </p>
    </div>
  </body>
</html>
